<div class="border rounded bg-light p-3 m-1 col-sm-9">
<%= form_with model: @article, class: "form-group" do |form| %>
<div>
  <%= form.label :title %>
  <%= form.text_field :title, class: "form-control form-control-sm mb-2" %>
  <% article.errors.full_messages_for(:title).each do |message| %>
  <p class="alert alert-danger"><%= message %></p>
  <% end %>
</div>
<div>
  <%= form.label :body %>
  <%= form.text_area :body, class: "form-control form-control-sm mb-2", rows: 20%>
  <% article.errors.full_messages_for(:body).each  do |message| %>
  <p class="alert alert-danger"><%= message %></p>
  <% end %>
</div>
<%= form.submit class: "btn btn-submit btn-success" %>
<% end %>